.markdown-preview-view ul > li.task-list-item.is-checked {
  text-decoration: none;
  color: var(--text-normal);
}

.markdown-preview-view ol > li.task-list-item.is-checked {
  text-decoration: none;
  color: var(--text-normal);
}

.markdown-source-view.mod-cm6
  .HyperMD-task-line[data-task]:not([data-task=' ']) {
  text-decoration: none;
  color: var(--text-normal);
}
